<article class="card-item">
    <a class="card-item__link" href="">
        <picture class="card-item__cover">
            <img class="card-item__img--front" src="../../img/star-wars/trooper-1.webp" alt="Tropper">
            <img class="card-item__img--back" src="../../img/star-wars/trooper-box.webp" alt="Trooper Box">
            <span class="card-item__tag">NUEVO</span>
        </picture>
        <div class="card-item__content">
            <p class="card-item__licence">STAR WARS</p>
            <h4 class="card-item__name">Stormtrooper lightsaber</h4>
            <p class="card-item__price">$1799,99.-</p>
            <p class="card-item__promo">3 cuotas sin interés</p>
        </div>
    </a>
</article>