<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <% if (locals.isLogged) { %>
                <li class="navbar__item"><a class="navbar__link" href="/shop">SHOP</a></li>
                <li class="navbar__item"><a class="navbar__link" href="/auth/logout">SALIR</a></li>
                <li class="navbar__item"><a class="navbar__link" href="/contact">CONTACTO</a></li>
                <% } else { %>
                    <li class="navbar__item"><a class="navbar__link" href="/shop">SHOP</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="/auth/login">INGRESAR</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="/auth/register">REGISTRARSE</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="/contact">CONTACTO</a></li>
                    <% } %>
        </ul>
        <picture>
            <a href="/home">
                <img class="logo__branding" src="/img/branding/isotype.svg" alt="Isotipo de Funkoshop">
            </a>
        </picture>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="../../js/items.js"></script>
<script src="../../js/cart.js"></script>
<script src="../../js/search.js"></script>
<script>
    new Glide('.glide',
        {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 30,
            breakpoints: {
                991: {
                    perView: 2
                },
                768: {
                    perView: 1
                }
            }
        }
    ).mount();
</script>