<section class="glide slider">
    <h2 class="slider__title">
        <%= sliderTitle %>
    </h2>
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
            <li class="slider__item glide__slides">
                <article class="card-item">
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="../../img/star-wars/trooper-1.webp" alt="Tropper">
                            <img class="card-item__img--back" src="../../img/star-wars/trooper-box.webp"
                                alt="Trooper Box">
                            <span class="card-item__tag">NUEVO</span>
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">STAR WARS</p>
                            <h4 class="card-item__name">Stormtrooper lightsaber</h4>
                            <p class="card-item__price">$1799,99.-</p>
                            <p class="card-item__promo">3 cuotas sin interés</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__item glide__slides">
                <article class="card-item">
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="../../img/pokemon/pidgeotto-1.webp" alt="Pokemon">
                            <img class="card-item__img--back" src="../../img/pokemon/pidgeotto-box.webp"
                                alt="Pokemon Box">
                            <span class="card-item__tag">NUEVO</span>
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">POKEMON</p>
                            <h4 class="card-item__name">PIDGEOTTO</h4>
                            <p class="card-item__price">$1799,99.-</p>
                            <p class="card-item__promo">3 cuotas sin interés</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__item glide__slides">
                <article class="card-item">
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="../../img/harry-potter/luna-1.webp" alt="Luna">
                            <img class="card-item__img--back" src="../../img/harry-potter/luna-box.webp" alt="Luna Box">
                            <span class="card-item__tag">NUEVO</span>
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">HARRY POTTER</p>
                            <h4 class="card-item__name">Luna Lovegood lion mask</h4>
                            <p class="card-item__price">$1799,99.-</p>
                            <p class="card-item__promo">3 cuotas sin interés</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon class="icon"
                icon="ic:twotone-chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon class="icon"
                icon="ic:twotone-chevron-right"></iconify-icon></button>
    </div>
</section>