/* =============== Inicio FORM ADMIN ============== */

.form__admin {
    margin-top: var(--spacing-28);
    display: flex;
    align-items: center;
}

.search__icon {
    /* color: var(--fondo-oscuro); */
    font-size: var(--font-30-xlarge);
}

.search__input {
    width: 35%;
    border: 2px solid var(--fondo-oscuro);
    border-radius: 5px;
    font-size: var(--font-16-small);
    font-family: var(--font-inter);
    padding: var(--spacing-8) var(--spacing-16);
}

/* =============== Fin FORM ADMIN ============== */

/* =============== Inicio FORM REGISTER ============== */

.register__form {
    width: clamp(250px, 100%, 450px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: var(--spacing-28);
}

/* =============== ¡QUITAR CUANDO ESTE CSS DE LOGIN SUBIDO! ============== */
.login__title {
    font-family: var(--font-raleway);
    font-weight: 700;
    text-align: center;
    font-size: var(--font-38-jumbo);
    letter-spacing: 1px;
}

/* ======================================================================= */

/* =============== Fin FORM REGISTER ============== */

/* =============== inicio FORM LOGIN ============== */
.login__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: var(--spacing-28);
}

.login__box .form__link {
    font-size: var(--font-small);
    text-align: center;
}

.form__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: var(--spacing-16);
}

.form__label {
    font-family: var(--font-inter);
    font-size: var(--font-24-large);
    font-weight: 400;
}

.form__input {
    border: none;
    border-bottom: 2px solid var(--rojo);
    font-size: var(--font-18-medium);
    margin: 0 var(--spacing-12);
}

input:focus::placeholder {
    color: transparent;
}

.form__input:focus {
    outline: none;
}

.form__input#password,
.form__input#repeat-password {
    font-size: var(--font-24-large);
}

.form__submit {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    justify-content: center;
    margin: var(--spacing-16) 0;
}

.form__btn {
    width: 103px;
    height: 39px;
    background-color: var(--rojo);
    border: none;
    color: var(--fondo-claro);
    font-size: var(--font-14-xsmall);
    border-radius: 0;
    transition: background-color .3s ease;
}

.form__btn:hover {
    background-color: var(--rojo-70);
}

.checkbox__label--login {
    font-family: var(--font-inter);
    font-size: var(--font-18-medium);
    font-weight: 400;
    padding-left: 4px;
}

.form-check-login {
    width: var(--spacing-16);
    height: var(--spacing-16);
    border: 2px solid var(--fondo-oscuro);
    border-radius: 3px;
}

.form__lost {
    text-align: center;
    color: var(--azul);
    font-size: var(--font-16-small);
}

.form__lost:hover {
    color: var(--azul-70);
}

/* =============== Fin FORM LOGIN ============== */

/* =============== Inicio SHOP FORMS ============== */

.shopform {
    font-family: var(--font-inter);
}

.formsearch--item input,
.formsearch--item select {
    font-size: var(--font-18-medium);
    display: flex;
    align-items: center;
}

.checkboxcontent {
    padding: var(--spacing-20);
}

.form-check {
    display: flex;
    align-items: center;
}

.checkboxlabel {
    font-size: var(--font-18-medium);
    padding-left: var(--spacing-8);
}

.form-check-input {
    width: var(--spacing-24);
    height: var(--spacing-24);
    border: 2px solid var(--fondo-oscuro);
}

.form-select-lg {
    border: 2px solid var(--fondo-oscuro);
}

.searchicon {
    color: #30343f;
    width: 40px;
    height: 40px;
}

.shopform {
    border-bottom: 1px dotted var(--negro-30);
}

.formsearch {
    padding: 68px 0;
    width: clamp(250px, 250px, 100%);
    margin: auto;
}

.formsearch--item {
    gap: var(--spacing-16);
}

.labelshop {
    font-size: var(--font-24-large);
    font-weight: 600;
}

.precio {
    margin: var(--spacing-16) 0;
}

.precio label {
    font-weight: 600;
    font-size: var(--font-14-xsmall);
    padding-right: 10px;
}

.precio span {
    padding: 0 8px;
    font-size: var(--font-16-small);
}

.precio input {
    border: 2px solid var(--fondo-oscuro);
    border-radius: 5px;
    font-size: var(--font-18-medium);
    text-align: center;
}

/* =============== Fin SHOP FORMS ============== */

/* =============== Inicio ITEMS ============== */

.items__content {
    font-family: var(--font-inter);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-68) 0;
}

.items img {
    width: 100%;
}

.item__img {
    cursor: pointer;
}

.items__details {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-68);
}

.items_licence {
    font-size: var(--font-16-small);
    text-transform: uppercase;
}

.items__name {
    font-size: var(--font-38-jumbo);
    /* padding: var(--spacing-16) 0; */
    text-transform: uppercase;
    font-weight: 700;
}

.items__text {
    font-size: var(--font-24-large);
    /* padding: var(--spacing-16) 0; */
    line-height: 1.2;
}

.items__price {
    font-size: var(--font-38-jumbo);
}

.items__cart {
    padding: var(--spacing-20) 0;
    display: flex;
}

.items__input {
    width: 106px;
    height: 38px;
    text-align: center;
    font-size: var(--font-24-large);
    border: 1px solid var(--negro-30);
}

.items__cart--btn {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 5px;
    justify-content: space-between;
}

.items__cart--mas,
.items__cart--menos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    height: 18px;
    width: 18px;
    background-color: var(--fondo-oscuro);
    color: var(--blanco);
    border: none;
    border-radius: 3px;
}

.items__cart--mas:hover,
.items__cart--menos:hover {
    background-color: var(--rojo);
    cursor: pointer;
}

.items__addcart {
    width: 181px;
    height: 38px;
    background-color: var(--rojo);
    border: none;
    color: var(--blanco);
    font-size: var(--font-18-medium);
    cursor: pointer;
    transition: background-color .3s ease;
}

.items__addcart:hover {
    background-color: var(--rojo-70);
}

.items__promo {
    font-size: var(--font-14-xsmall);
    font-weight: 700;
    color: var(--azul);
}

.items__promo a {
    text-decoration: underline;
}

.items__promo a:hover {
    color: var(--azul-70);
}

iconify-icon.icon {
    color: var(--fondo-oscuro);
    font-size: var(--font-14-xsmall);
}

iconify-icon.icon:hover {
    color: var(--negro-50);
}

/* =============== Fin ITEMS ============== */