.cart__content {
    font-family: var(font-inter);
    margin: var(--spacing-128) 0 0;
    border: 1px solid var(--fondo-claro);
}

h2.cart__title {
    display: inline;
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: var(--font-46-display);
    border-bottom: 4px solid var(--rojo);
}

.cart__items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    font-family: var(--font-inter);
    padding: var(--spacing-68) 0;
}

.cart__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fondo-claro);
    box-shadow: 1px 1px 12px var(--negro-30);
}

.cart__card--titles {
    padding: var(--spacing-12) 0;
    border-radius: var(--spacing-8);
}

.cart__card--prod {
    border-radius: var(--spacing-24);
    padding: var(--spacing-36) 0;
}

.cart__card span {
    font-size: var(--font-16-small);
    font-weight: 700;
    text-transform: uppercase;
}

.cart__item--name {
    font-size: var(--font-24-large);
    font-family: inherit;
    font-weight: 700;
}

.cart__item--licence {
    font-size: var(--font-14-xsmall);
    text-transform: uppercase;
    font-weight: 500;
}

.cart__item--price {
    font-size: var(--font-14-xsmall);
}

.items__input--cart {
    width: 90px;
    height: 40px;
}

.items__cart--mas.red,
.items__cart--menos.red {
    background-color: var(--rojo);
    transition: background-color .3s ease;
}

.red:hover {
    background-color: var(--fondo-oscuro);
}

.cart__item--total {
    font-size: var(--font-20-special);
    text-align: right;
}

/* .cart__item--delete {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: color .3s ease;
} */

.cart__item--delete {
    color: red;
    font-size: var(--font-24-large);
}

.cart__item--delete:hover {
    color: var(--negro-90);
}

/* SECCION RESUMEN */
.resume {
    display: flex;
    justify-content: end;
}

.cart__resume {
    font-family: var(--font-inter);
    text-transform: uppercase;
    margin: var(--spacing-16) 0;
    padding: var(--spacing-24);
    border-radius: var(--spacing-12);
}

span.linea {
    border: 2px solid var(--rojo);
}

/* p.text-left {
    font-weight: 700;
} */

.total-left,
.total-right,
.text-left,
.text-right {
    font-weight: 700;
}

.total-left,
.total-right {
    font-size: var(--font-20-special);
}

.text-right,
.total-right {
    text-align: right;
}

.cart__pay {
    font-family: var(--font-inter);
    margin-bottom: var(--spacing-68);
    border: none;
    background-color: var(--rojo);
    color: var(--fondo-claro);
    font-size: var(--font-30-xlarge);
    text-transform: uppercase;
    font-weight: 700;
    padding: var(--spacing-12) 0;
    cursor: pointer;
    transition: background-color .3s ease;
}

.cart__pay:hover {
    background-color: var(--rojo-70);
}